h1 {
    background-color: lightgrey;
    padding: 20px;
}

img {
    width: 410px;
    height: 410px;
}

header {
    background-color: rgb(95, 226, 43);
    height: 50px;
    border: 5px solid rgb(2, 90, 38);

}

main {
    flex: 1;
    background-color: yellow;
    border: 10px solid orange;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aquamarine;
    border: 10px solid maroon;

}

footer {
    background-color: brown;
    border: 10px solid whitesmoke;
    height: 110px;
}

.container {
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    
}

.nav-header {
    display: flex;
    justify-content:center;
    align-items: center;
}

.nav_item {
    padding: 10px;
}

