@font-face {
    font-family: Beiruti;
    src: url("assets/fonts/Beiruti/Beiruti-VariableFont_wght.ttf");
}

h1 {
    margin-left: 50px;
    font-size: 40px;
}

h2 {
    margin-bottom: 2px;
}

img {
    width: 160px;
    height: 160px;
}

header {
    background-color: rgba(134, 132, 0, 0.708);
    height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    flex: 1;
}

body {
    font-family: Beiruti;
    font-size: larger;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(240, 249, 225);
}

footer {
    background-color: rgba(134, 132, 0, 0.708);
    border: 10px solid whitesmoke;
    height: 110px;
}

.container {
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;

}

.nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_item {
    padding: 10px;
    text-decoration: none;
    color: rgb(235, 239, 199);
    font-size: 30px;
    font-style: oblique;
}

a {
    text-decoration: none;
    color: black;
}

a.my-project {
    text-decoration: underline;
    color: blue;
}

html {
    scroll-behavior: smooth;
}


.contact-list {
    list-style-type: none;
}

.section-main {
    margin: 10px 10px;
}

.photo-name {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

hr {
    opacity: .5;
    color: rgb(175, 172, 172);
}

hr.part {
    border: none;
    margin: 10px 0;
    border-top: 4px solid;
    border-radius: 10px;
}

hr.hr-name {
    border: none;
    margin: 10px;
    border-top: 10px solid;
    border-radius: 10px;

}

hr.thin {
    border: none;
    margin: 0 0 0 0;
    border-top: 1px solid;
}